name: Emscripten

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - '.github/workflows/*'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-web:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ./build-web/_deps
          key: build-emscripten-deps

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: latest
          actions-cache-folder: emsdk-cache

      - name: Verify Emscripten
        run: |
          emcc --version
          cmake --version

      - name: Configure (CMake)
        run: |
          mkdir -p build-web
          cd build-web
          emcmake cmake \
            -DCMAKE_BUILD_TYPE=Release \
            -DSDL_TEST=OFF \
            ..

      - name: Build
        run: |
          cd build-web
          cmake --build . --config Release

      - name: Prepare Artifact
        run: |
          mkdir -p dist
          cp build-web/minigin_web.* dist/
          cp web/*.html dist/

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy-pages:
    needs: build-web
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
